{%- liquid
  assign menublocks = section.blocks | where: 'type', 'link_list'
-%}

<div class="container">
  <div class="block w-full lg:flex lg:justify-between">
    <div class="block lg:w-1/3">
      <div class="w-60">
        {%- if settings.brand_image != blank -%}
          <a href="{{ routes.root_url }}" class="block">
            {{ settings.brand_image | image_url: width: '100%' | image_tag: class: 'w-full', alt: shop.name }}
          </a>
        {%- else -%}
          <p class="h2">{{ shop.name }}</p>
        {%- endif -%}
        {%- if section.settings.show_social -%}
          <div class="mt-6 lg:mt-16">
            {%- render 'menu-social', class: 'size-10' -%}
          </div>
        {%- endif -%}
      </div>
    </div>
    <div class="block mt-6 lg:w-2/3 lg:mt-0">
      <div class="lg:grid grid-cols-{{ menublocks.size }} items-start justify-end w-full">
        {%- for block in menublocks -%}
          <div class="gap-4 lg:grid">
            {%- if block.settings.heading != blank -%}
              <h2 class="text-lg font-bold">{{- block.settings.heading -}}</h2>
            {%- endif -%}
            {%- render 'menu-footer', menu: block.settings.menu -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "tag": "footer",
  "class": "pt-20 pb-5",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "default": true,
      "label": "t:sections.footer.settings.show_newsletter.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "t:sections.footer.settings.newsletter_heading.default",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__3.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__4.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    }
  ]
}
{% endschema %}
