{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<!-- Mobile Menu -->
<div class="lg:order-3 lg:hidden flex items-center">
  {%- render 'menu-drawer' -%}
  {% comment %} {%- render 'header-search' input_id: 'mobile-search-input' -%} {% endcomment %}
</div>

<!-- Desktop Menu -->
<div class="lg:order-3 hidden lg:block">
  {% comment %} {%- render 'header-search' input_id: 'desktop-search-input'-%} {% endcomment %}
  <div class="flex text-black lg:h-full">
    {%- render 'menu-primary' -%}
  </div>
</div>

<!-- Logo -->
<div class="brand lg:order-2 flex items-center">
  {%- render 'menu-brand' -%}
</div>

<!-- User Menu -->
<div class="lg:h-auto lg:order-1 lg:w-full flex items-center justify-end text-black lg:bg-black lg:text-white">
  {%- render 'menu-user' -%}
</div>

<!-- App Blocks -->
<div class="invisible visually-hidden">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
        {% render block %}
    {%- endcase -%}
  {%- endfor -%}
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "tag": "header",
  "class": "fixed bg-white top-0 z-40 w-full shadow-md h-header flex flex-wrap justify-between flex-row",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    }
  ]
}
{% endschema %}
