{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

{% comment %} style="background-image: url('{{ section.settings.background_image | image_url: width: 3840 }}');" {% endcomment %}
<div
  id="hero-{{ section.id }}"
  class="pt-10 text-white bg-black lg:pt-20"
>
  <div class="container z-10">
    <div class="items-end justify-between lg:flex">
      <div class="pb-10 pt-14 lg:w-3/4 xl:w-3/5">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2
                class="{{ block.settings.heading_size }} animate-slideup"
                {{ block.shopify_attributes }}>
                {{ block.settings.heading }}
              </h2>
            {%- when 'text' -%}
              <div
                class="{{ block.settings.text_style }}"
                {{ block.shopify_attributes }}>
                <p>{{ block.settings.text }}</p>
              </div>
            {%- when 'buttons' -%}
              <div
                class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
                {{ block.shopify_attributes }}
              >
                {%- if block.settings.button_label_1 != blank -%}
                  <a
                    {% if block.settings.button_link_1 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_1 }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label_1 | escape -}}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a
                    {% if block.settings.button_link_2 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_2 }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label_2 | escape -}}
                  </a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
      <div class="pb-10 animate-slideleft animate-delay-mid lg:w-1/4">
        <img class="max-w-full ml-auto" src="{{ section.settings.image | image_url: '300x100' }}" width="300" height="100" alt="Art on your terms">
      </div>
    </div>
  </div>
  <!-- TODO: Start editable -->
  <div class="pt-10 pb-10 lg:pb-0">
    <div class="grid justify-between grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
      <a href="#collect" class="flex justify-center px-5 py-12 text-center duration-500 ease-in-out animate-slide lg:pt-20 lg:pb-32 hover:bg-primary/80">
        <div class="text-center">
          <h3 class="mb-4 text-3xl font-bold lg:text-4xl xl:text-5xl">Collect</h3>
          <p class="text-xl">Classic artworks for your screens and spaces</p>
        </div>
      </a>
      <a href="#experience" class="flex justify-center px-5 py-12 text-center duration-500 ease-in-out animate-slide lg:pt-20 lg:pb-32 hover:bg-primary/80">
        <div class="text-center">
          <h3 class="mb-4 text-3xl font-bold lg:text-4xl xl:text-5xl">Experience</h3>
          <p class="text-xl">Exclusive features for CoMission collectors</p>
        </div>
      </a>
      <a href="#foster" class="flex justify-center px-5 py-12 text-center duration-500 ease-in-out animate-slide lg:pt-20 lg:pb-32 hover:bg-primary/80">
        <div class="text-center">
          <h3 class="mb-4 text-3xl font-bold lg:text-4xl xl:text-5xl">Foster</h3>
          <p class="text-xl">Make a social impact</p>
        </div>
      </a>
      <a href="#connect" class="flex justify-center px-5 py-12 text-center duration-500 ease-in-out animate-slide lg:pt-20 lg:pb-32 hover:bg-primary/80">
        <div class="text-center">
          <h3 class="mb-4 text-3xl font-bold lg:text-4xl xl:text-5xl">Connect</h3>
          <p class="text-xl">A growing community</p>
        </div>
      </a>
    </div>
  </div>
  <!-- TODO: End editable -->
</div>



{% schema %}
{
  "name": "t:sections.hero.name",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["index"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.hero.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.hero.settings.image.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.hero.settings.image_overlay_opacity.label",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.hero.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.hero.blocks.heading.settings.heading.default",
          "label": "t:sections.hero.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "default": "text-heading",
          "label": "t:sections.all.heading_size.label",
          "options": [
            {
              "value": "text-fineprint",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "text-body",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "text-lead",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "text-heading",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "text-display",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.hero.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "t:sections.hero.blocks.text.settings.text.default",
          "label": "t:sections.hero.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.hero.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.hero.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.hero.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.hero.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.hero.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "t:sections.hero.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.hero.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.hero.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.hero.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.hero.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "t:sections.hero.blocks.buttons.settings.button_label_2.default",
          "label": "t:sections.hero.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.hero.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.hero.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.hero.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.hero.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
