<section class="py-20 text-white bg-black">
  <div class="container">
    <h2 class="text-4xl font-bold">{{ section.settings.title }}</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-20 mt-20">
      {% for block in section.blocks %}
        <div class="grid grid-cols-1 lg:grid-cols-6 gap-10">
          <div class="lg:col-span-2 mb-4 lg:mb-0">
            <img
              src="{{ block.settings.image | image_url: width: 150 }}"
              width="150"
              height="150"
              alt="{{ block.settings.title }}"
              loading="lazy"
              decoding="async"
            >
          </div>
          <div class="lg:col-span-4 lg:col-start-3">
            <h4 class="text-3xl mb-4">{{ block.settings.title }}</h4>
            <p>
              {{ block.settings.description }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.image-with-text-grid.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.image-with-text-grid.settings.title.label",
      "default": "t:sections.image-with-text-grid.settings.title.default"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "t:sections.image-with-text-grid.blocks.feature.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.image-with-text-grid.blocks.feature.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.image-with-text-grid.blocks.feature.settings.title.label",
          "default": "t:sections.image-with-text-grid.blocks.feature.settings.title.default"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "t:sections.image-with-text-grid.blocks.feature.settings.description.label",
          "default": "t:sections.image-with-text-grid.blocks.feature.settings.description.default"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text-grid.presets.name",
      "blocks": [
        {
          "type": "feature"
        },
        {
          "type": "feature"
        }
      ]
    }
  ]
}
{% endschema %}
