{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="container section-{{ section.id }}-padding">
  <h1 class="mb-8">{{ page.title }}</h1>

  {% if section.blocks.size == 0 %}
    <div class="text-lead">{{ section.settings.no_jobs_copy }}</div>
  {% else %}
    <div class="mb-8">{{ page.content }}</div>
    <div id="accordion-collapse" data-accordion="collapse">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'jobs' -%}
            <div class="border-b  border-gray-200  text-gray-500 focus-within:ring-4 focus-within:ring-gray-200 dark:focus-within:ring-gray-800 hover:bg-gray-100 dark:hover:bg-gray-800 ">
              <h2 class=" text-lead !mb-0" id="accordion-collapse-heading-{{ forloop.index }}">
                <button
                  type="button"
                  class="flex items-center justify-between w-full p-5 text-left text-black  dark:border-gray-700 dark:text-gray-400 gap-3"
                  data-accordion-target="#accordion-collapse-body-{{ forloop.index }}"
                  aria-expanded="true"
                  aria-controls="accordion-collapse-body-{{ forloop.index }}"
                >
                  <span>{{ block.settings.title }}</span>
                  <svg
                    data-accordion-icon
                    class="w-3 h-3 rotate-180 shrink-0"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 10 6"
                  >
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                  </svg>
                </button>
              </h2>
              <div
                id="accordion-collapse-body-{{ forloop.index }}"
                class="hidden "
                aria-labelledby="accordion-collapse-heading-{{ forloop.index }}"
              >
                <div class="p-5 border-t border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                  {{ block.settings.description }}
                </div>
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "no_jobs_copy",
      "default": "<p>Sorry, there are no jobs.</p>",
      "label": "Notification if no jobs.",
      "info": "This copy will appear INSTEAD OF the default page copy if there are no jobs."
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "jobs",
      "name": "Jobs",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Job Title"
        },
        {
          "type": "inline_richtext",
          "id": "description",
          "default": "Enter the job desccription here",
          "label": "Job Description"
        }
      ]
    }
  ]
}
{% endschema %}
