{%- unless settings.cart_type == 'drawer' -%}
  {% comment %} <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script> {% endcomment %}
{%- endunless -%}

<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>

<cart-items class="container md:mt-14 gradient color-{{ section.settings.color_scheme }} isolate{% if cart == empty %} is-empty{% else %} section-{{ section.id }}-padding{% endif %}">
  <div class="page-width ">
    <div class="title-wrapper-with-link">
      <h1 class="title title--primary">{{ 'sections.cart.title' | t }}</h1>
      <a href="{{ routes.all_products_collection_url }}" class="underlined-link btn btn-primary inline-block mb-4">
        {{- 'general.continue_shopping' | t -}}
      </a>
    </div>

    <div class="cart__warnings">
      <h1 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h1>
      <a href="{{ routes.all_products_collection_url }}" class="button">
        {{ 'general.continue_shopping' | t }}
      </a>

      {%- if shop.customer_accounts_enabled and customer == null -%}
        <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
        <p class="cart__login-paragraph">
          {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
        </p>
      {%- endif -%}
    </div>

    <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
      <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
        <div class="js-contents">
          {%- if cart != empty -%}
            <table class="cart-items w-full">
              <caption class="visually-hidden hidden">
                {{ 'sections.cart.title' | t }}
              </caption>
              <thead class="tablet:hidden">
                <tr class="bg-gray-200">
                  <th class="text-left p-2" scope="col">
                    {{ 'sections.cart.headings.product' | t }}
                  </th>

                  <th class="text-left p-2" colspan="1" scope="col">Details</th>

                  <th class="text-left p-2" colspan="1" scope="col">
                    {{ 'sections.cart.headings.price' | t }}
                  </th>

                  <th
                    class="text-left p-2 cart-items__heading--wide cart-items__heading--quantity small-hide caption-with-letter-spacing"
                    colspan="1"
                    scope="col"
                  >
                    Remove
                  </th>
                </tr>
              </thead>
              <tbody class="tablet:block">
                {%- for item in cart.items -%}
                  {% assign product = all_products[item.product.handle] %}
                  {% assign artist_id = product.metafields.comission.artist
                    | replace: 'gid://shopify/Collection/', ''
                  %}
                  {% for coll in collections %}
                    {% if artist_id contains coll.id %}
                      {% assign artist = coll %}
                    {% endif %}
                  {% endfor -%}
                  {% assign rows = product.metafields.comission.rows %}
                  {% assign cols = product.metafields.comission.cols %}

                  {% assign zeropos = item.properties.position | minus: 1 %}
                  {% assign position_row = zeropos | divided_by: cols | floor | plus: 1 %}
                  {% assign position_col = zeropos | modulo: cols | plus: 1 %}

                  <tr class="cart-item tablet:block" id="CartItem-{{ item.index | plus: 1 }}">
                    <td class="cart-item__media md:w-1/2 pt-4 tablet:block">
                      <div class="flex flex-col md:flex-row items-center gap-4">
                        {% if item.image %}
                          {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}

                          <div class="cart-item__image-container gradient global-media-settings w-full md:w-1/2 relative">
                            <img
                              src="{{ item.image | image_url: width: 300 }}"
                              class="mx-auto cart-item__image"
                              alt="{{ item.image.alt | escape }}"
                              loading="lazy"
                              width="auto"
                              height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                            >
                            <div
                              class="__react-component"
                              data-component="ImageCrosshairs"
                              data-animate="true"
                              data-cols="{{ cols }}"
                              data-rows="{{ rows }}"
                              data-position="{{ item.properties.position }}"
                            ></div>
                          </div>
                        {% endif %}

                        <div class="product-title text-center md:text-left w-full md:w-1/2">
                          {%- if settings.show_vendor -%}
                            <p class="caption-with-letter-spacing">{{ item.product.vendor }}</p>
                          {%- endif -%}
                          <a href="{{ item.url }}" class="cart-item__name h4 break font-bold">
                            {{- item.product.title | escape -}}
                          </a>
                          <div class="font-medium">by {{ artist.title }}</div>
                          <div>{{ product.metafields.comission.medium }}</div>
                          <div>{{ product.metafields.comission.year }}</div>
                        </div>
                      </div>
                    </td>
                    <td class="cart-item__dab-details tablet:block">
                      <div class=" ">Unique Dab: #{{ item.properties.position }}</div>
                      <!--
                        <div class="text-xs text-gray-600 mt-1">(Row {{ position_row }}, Column {{ position_col }})</div>
                      -->
                      <div class="text-xs text-gray-600 mt-2">
                        Membership Expires: {{ product.metafields.comission.endDate | date: '%b %d, %Y' }}
                      </div>
                    </td>

                    <td class="cart-item__totals right small-hide tablet:block">
                      <div class="cart-item__price-wrapper">
                        {%- if item.original_line_price != item.final_line_price -%}
                          <dl class="cart-item__discounted-prices">
                            <dt class="visually-hidden hidden">
                              {{ 'products.product.price.regular_price' | t }}
                            </dt>
                            <dd>
                              <s class="cart-item__old-price price price--end">
                                {{ item.original_line_price | money }}
                              </s>
                            </dd>
                            <dt class="visually-hidden hidden">
                              {{ 'products.product.price.sale_price' | t }}
                            </dt>
                            <dd class="price price--end">
                              {{ item.final_line_price | money }}
                            </dd>
                          </dl>
                        {%- else -%}
                          <span class="price price--end">
                            {{ item.original_line_price | money }}
                          </span>
                        {%- endif -%}

                        {%- if item.variant.available and item.unit_price_measurement -%}
                          <div class="unit-price caption">
                            <span class="visually-hidden hidden">{{ 'products.product.price.unit_price' | t }}</span>
                            {{ item.unit_price | money }}
                            <span aria-hidden="true">/</span>
                            <span class="visually-hidden hidden"
                              >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                            >
                            {%- if item.unit_price_measurement.reference_value != 1 -%}
                              {{- item.unit_price_measurement.reference_value -}}
                            {%- endif -%}
                            {{ item.unit_price_measurement.reference_unit }}
                          </div>
                        {%- endif -%}
                      </div>
                    </td>

                    {%- liquid
                      assign has_qty_rules = false
                      if item.variant.quantity_rule.increment > 1 or item.variant.quantity_rule.min > 1 or item.variant.quantity_rule.max != null
                        assign has_qty_rules = true
                      endif

                      assign has_vol_pricing = false
                      if item.variant.quantity_price_breaks.size > 0
                        assign has_vol_pricing = true
                      endif
                    -%}
                    <td class="cart-item__quantity text-right md:text-center tablet:absolute tablet:right-0 tablet:-mt-8 {% if has_qty_rules or has_vol_pricing %} cart-item__quantity--info{% endif %}">
                      <quantity-popover>
                        <div class="cart-item__quantity-wrapper quantity-popover-wrapper">
                          <label class="visually-hidden hidden" for="Quantity-{{ item.index | plus: 1 }}">
                            {{ 'products.product.quantity.label' | t }}
                          </label>
                          <div class="quantity-popover-container{% if has_qty_rules or has_vol_pricing %} quantity-popover-container--hover{% endif %}">
                            {%- if has_qty_rules or has_vol_pricing -%}
                              <button
                                type="button"
                                aria-expanded="false"
                                class="quantity-popover__info-button quantity-popover__info-button--icon-only button button--tertiary small-hide medium-hide"
                              >
                                {% render 'icon-info' %}
                              </button>
                            {%- endif -%}
                            <quantity-input class="quantity cart-quantity">
                              {% if item.variant.quantity_rule.max > 1 %}
                                <button class="quantity__button" name="minus" type="button">
                                  <span class="visually-hidden hidden">
                                    {{-
                                      'products.product.quantity.decrease'
                                      | t: product: item.product.title
                                      | escape
                                    -}}
                                  </span>
                                  {% render 'icons', name: 'minus' %}
                                </button>
                                <input
                                  class="quantity__input w-14 p-2"
                                  data-quantity-variant-id="{{ item.variant.id }}"
                                  type="number"
                                  name="updates[]"
                                  value="{{ item.quantity }}"
                                  {% # theme-check-disable %}
                                  data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                  min="0"
                                  data-min="{{ item.variant.quantity_rule.min }}"
                                  {% if item.variant.quantity_rule.max != null %}
                                    max="{{ item.variant.quantity_rule.max }}"
                                  {% endif %}
                                  step="{{ item.variant.quantity_rule.increment }}"
                                  {% # theme-check-enable %}
                                  aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                  id="Quantity-{{ item.index | plus: 1 }}"
                                  data-index="{{ item.index | plus: 1 }}"
                                >
                                <button class="quantity__button" name="plus" type="button">
                                  <span class="visually-hidden hidden">
                                    {{-
                                      'products.product.quantity.increase'
                                      | t: product: item.product.title
                                      | escape
                                    -}}
                                  </span>
                                  {% render 'icons', name: 'plus' %}
                                </button>
                              {% else %}
                                <input
                                  data-quantity-variant-id="{{ item.variant.id }}"
                                  type="hidden"
                                  name="updates[]"
                                  value="{{ item.quantity }}"
                                  {% # theme-check-disable %}
                                  data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                  min="0"
                                  data-min="{{ item.variant.quantity_rule.min }}"
                                  {% if item.variant.quantity_rule.max != null %}
                                    max="{{ item.variant.quantity_rule.max }}"
                                  {% endif %}
                                  {% # theme-check-enable %}
                                  aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                  id="Quantity-{{ item.index | plus: 1 }}"
                                  data-index="{{ item.index | plus: 1 }}"
                                >
                              {% endif %}
                            </quantity-input>
                          </div>
                          <cart-remove-button
                            id="Remove-{{ item.index | plus: 1 }}"
                            data-index="{{ item.index | plus: 1 }}"
                          >
                            <a
                              href="{{ item.url_to_remove }}"
                              class="button button--tertiary hover:text-red-800"
                              aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
                            >
                              {% render 'icons', name: 'trash', class: 'size-6' %}
                            </a>
                          </cart-remove-button>
                          {%- render 'loading-spinner' -%}
                        </div>

                        <div class="cart-item__error" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
                          <small class="cart-item__error-text"></small>
                          <span class="svg-wrapper">
                            {% comment %}{{- 'icon-error.svg' | inline_asset_content -}}{% endcomment %}
                          </span>
                        </div>
                      </quantity-popover>
                    </td>
                  </tr>
                {%- endfor -%}
              </tbody>
            </table>
          {%- endif -%}
        </div>
      </div>

      <p class="visually-hidden hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
      <p
        class="visually-hidden hidden"
        id="shopping-cart-line-item-status"
        aria-live="polite"
        aria-hidden="true"
        role="status"
      >
        {{ 'accessibility.loading' | t }}
      </p>
    </form>
  </div>
</cart-items>

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
