{%- liquid
  assign section_color_scheme = 'color-' | append: section.settings.color_scheme
  assign section_padding_top = 'pt-' | append: section.settings.padding_top
  assign section_padding_bottom = 'pb-' | append: section.settings.padding_bottom
  assign artist = product.metafields.comission.artist
  assign meta = product.metafields.comission
  assign product_form_id = 'product-form-' | append: section.id
-%}

<div
  class="{{ section_color_scheme }} {{ section_padding_top }} {{ section_padding_bottom }}"
  data-section="{{ section.id }}"
  data-product-id="{{ product.id }}"
  data-update-url="true"
  data-url="{{ product.url }}"
  {% if section.settings.image_zoom == 'hover' %}
    data-zoom-on-hover
  {% endif %}
>
  {% comment %} TODO: Refactor JS {% endcomment %}
  <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {% if section.settings.image_zoom == 'hover' %}
    <script id="EnableZoomOnHover-main" src="{{ 'magnify.js' | asset_url }}" defer="defer"></script>
  {% endif %}
  {%- if request.design_mode -%}
    <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  <div class="container">
    <div class="grid items-center grid-cols-1 gap-8 lg:grid-cols-2">
      <div class="lg:p-5 animate-slide">
        {% comment %} TODO: Account for Image zoom and pass along to dab selector {% endcomment %}
        {% comment %} {% render 'dab-selector' product: product %} {% endcomment %}
      </div>
      <div class="">
        {% comment %} {%- assign product_form_id = 'product-form-' | append: section.id -%} {% endcomment %}
        <h1 class="font-normal h3">{{ product.title | escape }}</h1>
        {% render 'art-meta', meta: product.metafields.comission %}
        {%- render 'dab-selector', product: product, product_form_id: product_form_id, section_id: section.id -%}

        <small class="text-sm">DAB's starting from: {{ product.price | money_with_currency }}</small>

        <div class="my-5">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'text' -%}
                <div class="rte">
                  {{ block.settings.text }}
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
  {% comment %}
    <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
      <div
        role="dialog"
        aria-label="{{ block.settings.text }}"
        aria-modal="true"
        class="product-popup-modal__content"
        tabindex="-1"
      >
        <button
          id="ModalClose-{{ block.id }}"
          type="button"
          class="product-popup-modal__toggle"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          {% render 'icon-close' %}
        </button>
        <div class="product-popup-modal__content-info">
          <h1 class="h2">{{ block.settings.page.title | escape }}</h1>
          {{ block.settings.page.content }}
        </div>
      </div>
    </modal-dialog>
  {% endcomment %}

  <!-- App Blocks -->
  <div class="invisible">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
      {%- endcase -%}
    {%- endfor -%}
  </div>

  {%- liquid
    if product.selected_or_first_available_variant.featured_media
      assign seo_media = product.selected_or_first_available_variant.featured_media
    else
      assign seo_media = product.featured_media
    endif
  -%}

  <script type="application/ld+json">
    {{ product | structured_data }}
  </script>
</div>

{% comment %} TODO: Add buy buttons for gift certificates in schema (line 119) {% endcomment %}
{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-template",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "t:sections.main-product.blocks.text.settings.text.default",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "artist",
      "name": "t:sections.main-product.blocks.artist.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "inventory",
      "name": "t:sections.main-product.blocks.inventory.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "text-body",
              "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__1.label"
            },
            {
              "value": "text-fineprint",
              "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__2.label"
            }
          ],
          "default": "text-fineprint",
          "label": "t:sections.main-product.blocks.inventory.settings.text_style.label"
        },
        {
          "type": "range",
          "id": "inventory_threshold",
          "label": "t:sections.main-product.blocks.inventory.settings.inventory_threshold.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "info": "t:sections.main-product.blocks.inventory.settings.inventory_threshold.info",
          "default": 1
        },
        {
          "type": "checkbox",
          "id": "show_inventory_quantity",
          "label": "t:sections.main-product.blocks.inventory.settings.show_inventory_quantity.label",
          "default": true
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 25,
      "step": 1,
      "unit": "rem",
      "label": "t:sections.all.padding.padding_top",
      "default": 6
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 25,
      "step": 1,
      "unit": "rem",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 6
    }
  ]
}
{% endschema %}
