{% comment %}
  Renders a collection card

  Accepts:
  - card_collection: {Object} Collection Liquid object
  - collection_type: {String} The type of collection to display. Artist or Institution
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - columns: {Number}
  - extend_height: {Boolean} Card height extends to available container space. Default: false (optional)
  - wrapper_class: {String} Wrapper class for card (optional)
  - image_class: {String} Wrapper class for image (optional)
  - placeholder_image: {String} Placeholder image when collection is empty (optional)

  Usage:
  {% render 'card-collection' %}
{% endcomment %}


<div class="{{ wrapper_class }}">
  <div class="media media--transparent media--hover-effect">
    <img
      src="{{ card_collection.featured_image | image_url: width: 500 }}"
      alt="{{ card_collection.featured_image.alt | escape }}"
      height="{{ card_collection.featured_image.height }}"
      width="{{ card_collection.featured_image.width }}"
      loading="lazy"
      class="{{ image_class }}"
    >
  </div>

  <div class="col-span-2">
    <h4 class="mb-4 text-3xl">{{- card_collection.title | escape -}}</h4>
    <p class="mb-4">{{- card_collection.metafields.comission.excerpt -}}</p>
    <a class="flex items-center text-xl font-normal text-primary" href="{{ collection.url }}">See {{ collection_type }} bio {% render 'icons' name: 'arrow-right' %}</a>
  </div>
</div>

