{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{%- if card_product and card_product != empty -%}
  {%- liquid
    assign meta = card_product.metafields.comission
    assign artist = collections[meta.artist]
    assign year = meta.year
    assign sold = meta.unavailable | split: ',' | size
    assign dabs = meta.cols | to_i | times: meta.rows | to_i
    assign membership = meta.endDate | date: '%m / %d / %y'
  -%}
  <div class="grid items-center grid-cols-1 gap-20 mb-20 lg:grid-cols-2 lg:gap-28 lg:mb-38">
    <div>
      {%- if card_product.featured_media -%}
        <div class="card-image media media--transparent media--hover-effect">
          {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
          <img
            src="{{ card_product.featured_media | image_url: width: 533 }}"
            alt="{{ card_product.featured_media.alt | escape }}"
            class="fadeIn motion-reduce"
            {% unless lazy_load == false %}
              loading="lazy"
            {% endunless %}
            width="{{ card_product.featured_media.width }}"
            height="{{ card_product.featured_media.height }}"
          >
          {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}

          {%- if card_product.media[1] != null and show_secondary_image -%}
            <img
              src="{{ card_product.media[1] | image_url: width: 533 }}"
              sizes=""
              alt=""
              class="motion-reduce"
              loading="lazy"
              width="{{ card_product.media[1].width }}"
              height="{{ card_product.media[1].height }}"
            >
          {%- endif -%}
        </div>
      {%- endif -%}
      {% comment %} <p>{{ card_product | json  }}</p> {% endcomment %}
    </div>
    <div>
      <h2 class="mb-0 font-normal"><a href="{{ card_product.url }}">{{ card_product.title | escape }}</a></h2>
      <h2 class="mb-2 h4"><a href={{ artist.url }} title="{{ artist.title }}">{{ artist.title }}</a></h2>
      <p>
        {%- if meta.year -%}<span>{{ meta.year }}</span><br/>{%- endif -%}
        {%- if meta.medium -%}<span>{{ meta.medium }}</span><br/>{%- endif -%}
        {%- if meta.museum -%}<span>{{ meta.museum }}</span><br/>{%- endif -%}
      </p>
      <p>
        <span class="font-normal">{{ sold }} of {{ dabs }} DABs available</span><br/>
        <span class="text-sm text-muted">Membership Expires: {{ membership }}</span>
      </p>
      <a
        href="{{ card_product.url }}"
        title="{{ card_product.title }} details"
        class="flex items-center text-xl font-normal text-primary animate-arrow">
        View Details {% render 'icons' name: 'arrow-right' %}
      </a>
      {%- if show_price -%}
        {%- render 'price', product: card_product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
      {%- endif -%}
      {% assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id %}
      {%- if quick_add -%}
        <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
          <button
            id="{{ product_form_id }}-submit"
            type="submit"
            name="add"
            class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add animate-arrow{% endif %}"
            aria-haspopup="dialog"
            aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
            data-product-url="{{ card_product.url }}"
          >
            {{ 'products.product.choose_options' | t }}
            {%- if horizontal_quick_add -%}
              <span class="icon-wrap">{% render 'icon-arrow' %}</span>
            {%- endif -%}
            {%- render 'loading-spinner' -%}
          </button>
        </modal-opener>
        <quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal">
          <div
            role="dialog"
            aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}"
            aria-modal="true"
            class="quick-add-modal__content global-settings-popup"
            tabindex="-1"
          >
            <button
              id="ModalClose-{{ card_product.id }}"
              type="button"
              class="quick-add-modal__toggle"
              aria-label="{{ 'accessibility.close' | t }}"
            >
              {% render 'icon-close' %}
            </button>
            <div id="QuickAddInfo-{{ card_product.id }}" class="quick-add-modal__content-info"></div>
          </div>
        </quick-add-modal>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}
