{% comment %}
  Renders DAB Sector modal. Includes add to cart button.
  Accepts:
  - product: {Object} product object.
  - product_form_id: {String} product form id.
  - section_id: {String} id of section to which this snippet belongs.

  Usage:
  {%- render 'dab-selector', product: product, product_form_id: product_form_id, section_id: section.id -%}
{% endcomment %}
{%- liquid
  assign meta = product.metafields.comission
-%}

{% capture variants %}[{% for variant in product.variants %}{"id": "{{ variant.id }}","price": "{{ variant.price | divided_by: 100 }}","title": "{{ variant.title }}","tiles": "{{ variant.metafields.comission.tiles }}"}{% unless forloop.last %},{% endunless %}{% endfor %}]{% endcapture %}

{% assign artist_id = product.metafields.comission.artist | split: '/' | last | plus: 0 %}
{% assign museum_id = product.metafields.comission.institution | split: '/' | last | plus: 0 %}

<br>
{% for coll in collections %}
  {% if artist_id == coll.id %}
    {% assign artist = coll %}
  {% endif %}
  {% if museum_id == coll.id %}
    {% assign museum = coll %}
  {% endif %}
{% endfor -%}

<!-- Modal toggle -->
<button
  data-modal-target="dab-modal"
  data-modal-toggle="dab-modal"
  class="btn btn-primary"
  type="button"
>
  {{ button_label | default: 'BUY NOW' }}
</button>

<!-- Main modal -->
<div
  id="dab-modal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative w-full max-w-4xl max-h-full  p-4">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center p-4 border-b">
        <div>
          <h4 class="m-0">Hover over artwork to zoom in.</h4>
        </div>
        <button
          type="button"
          class="inline-flex items-center justify-center w-8 h-8 text-sm text-gray-400 bg-transparent rounded-lg hover:bg-gray-200 hover:text-gray-900 ms-auto"
          data-modal-toggle="dab-modal"
        >
          <!-- Icon -->
          <span class="sr-only">Close modal</span>
          {% render 'icons', name: 'close' %}
        </button>
      </div>
      <!-- Modal body -->
      <product-form
        class="product-form"
        data-hide-errors="{{ gift_card_recipient_feature_active }}"
        data-section-id="{{ section_id }}"
      >
        {%- form 'product',
          product,
          id: product_form_id,
          class: 'p-4',
          novalidate: 'novalidate',
          data-type: 'add-to-cart-form'
        -%}
          {%- liquid
            assign check_against_inventory = true
            if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
              assign check_against_inventory = false
            endif
            if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
              assign quantity_rule_soldout = true
            endif
          -%}

          <input
            type="hidden"
            name="id"
            value="{{ product.selected_or_first_available_variant.id }}"
            class="product-variant-id"
            {% if product.selected_or_first_available_variant.available == false
              or quantity_rule_soldout
              or product.selected_or_first_available_variant == null
            %}
              disabled
            {% endif %}
          >
          {% comment %}
            <button
              id="ProductSubmitButton-{{ section_id }}"
              type="submit"
              name="add"
              class="btn btn-primary"
              {% if product.selected_or_first_available_variant.available == false
                or quantity_rule_soldout
                or product.selected_or_first_available_variant == null
              %}
                disabled
              {% endif %}
            >
              <span>
                {%- if product.selected_or_first_available_variant == null -%}
                  {{ 'products.product.unavailable' | t }}
                {%- elsif product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                  {{ 'products.product.sold_out' | t }}
                {%- else -%}
                  {{ 'products.product.add_to_cart' | t }}
                {%- endif -%}
              </span>
              {%- render 'loading-spinner' -%}
            </button>

            <p>{{ cart.item_count }}</p>
          {% endcomment %}

          <!-- prettier-ignore -->
          <div class="__react-component"
            data-component="DABSelector"
            data-cart='{{ cart.items | json | replace: "'", "&apos;" | escape }}'
            data-product='{{ product | json | replace: "'", "&apos;" | escape }}'
            data-variants='{{ variants | replace: "'", "&apos;" | escape }}'
            data-museum='{{ museum | json | replace: "'", "&apos;" | escape }}'
            data-artist='{{ artist | json | replace: "'", "&apos;" | escape }}'
            data-productmetafields='{{ meta | json | replace: "'", "&apos;" | escape }}'
            ></div>
        {%- endform -%}
      </product-form>
    </div>
  </div>
</div>
{% comment %}
  <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    <svg class="w-5 h-5 me-1 -ms-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
    Add new product
  </button>
{% endcomment %}
