{% comment %} TODO: Update styles and test search functionality {% endcomment %}
{% comment %}
  Renders a header search modal. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}

<!-- drawer init and toggle -->
<button
  type="button"
  class=""
  data-drawer-target="SearchDrawer"
  data-drawer-show="SearchDrawer"
  data-drawer-placement="top"
  aria-controls="SearchDrawer"
>
  {%- render 'icons' name: 'search' %}
</button>
<!-- drawer component -->
<div
  id="SearchDrawer"
  class="drawer drawer-top"
  tabindex="-1"
  aria-labelledby="SearchDrawer-label"
>
    <button
      type="button"
      class="drawer__close"
      data-drawer-hide="SearchDrawer"
      aria-controls="SearchDrawer"
    >
      {%- render 'icons' name: 'close' %}
      <span class="sr-only">Close menu</span>
    </button>
    <form
      action="{{ routes.search_url }}"
      method="get"
      role="search"
      class="relative flex w-full text-heading"
    >

      <input
        class="w-full px-0 py-2 transition bg-transparent border-t-0 border-b-2 text-heading focus:ring-0 border-x-0 border-primary/10 focus:border-primary/90"
        id="{{ input_id }}"
        type="search"
        name="q"
        value="{{ search.terms | escape }}"
        placeholder="{{ 'general.search.search' | t }}"
        {%- if settings.predictive_search_enabled -%}
          role="combobox"
          aria-expanded="false"
          aria-owns="predictive-search-results"
          aria-controls="predictive-search-results"
          aria-haspopup="listbox"
          aria-autocomplete="list"
          autocorrect="off"
          autocomplete="off"
          autocapitalize="off"
          spellcheck="false"
        {%- endif -%}
      >
      <label class="sr-only" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
      <button
        type="reset"
        class="btn {% if search.terms == blank %} hidden{% endif %}"
        aria-label="{{ 'general.search.reset' | t }}"
      >
        {%- render 'icons' name: 'close' %}
      </button>
      <button class="btn" aria-label="{{ 'general.search.search' | t }}">
        {%- render 'icons' name: 'search' %}
      </button>
    </form>
</div>
