<header id="{{ title | handle }}" class="section-header">
  <div class="container">
    <h2>{{ title }}</h2>
  </div>
</header>
{% if subtitle %}
  <div class="color-{{ color_scheme }}">
    <div class="container {{ container_padding_class | default: 'py-10' }}">
      <p class="text-2xl {{ class | default: 'mb-10 text-lead lg:max-w-[50%]' }}">{{ subtitle }}</p>
    </div>
  </div>
{% endif %}
